*
{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
}
.logo img
{
      width: 80px;
      border-radius: 50%;
      padding: 20px;
}
.header_menu
{
      justify-content: space-between;
      align-items: center;
      display: flex;
      background: #FAE1DD;
}
.header_text
{
      color:white;
      font-weight: bold;
      padding-right: 60px;
      font-size: 20px;
}
.main_image img
{
      width: 100px;
      border-radius: 50%;
      padding: 3rem 6rem;

}
.container_corrrect
{
      display: flex;
}
.main_column1
{
      width: 345px;
      background: #065654;
      height: 100%;
      display: block;
}
.main_text>ul>li>a
{
     color: white;
     font-size: 28px;
     padding: 0.5rem;
     text-decoration: none;
     text-transform: uppercase;
     display: flex;
     
}
.main_text>ul>li
{
      margin-bottom: 9rem;
}
.main_text>ul>li>a:hover
{
      border: 2px soli rgb(255,180,0);
      color: rgb(255,180,0);
}
.main_text>ul>li>ul>li>a
{
     font-size: 27px;
     color: white;
     text-decoration: none;
     text-transform: capitalize;

}
.main_text>ul>li>ul>li
{
      font-size: 28px;
      padding-left: 10rem;
      margin-bottom: 1rem;
}
.main_text>ul>li span i
{
      color: rgb(255,180,0);
}
.main_text>ul>li:hover >ul 
{
     color: rgb(255,180,0);
}
.main_text ul ul
{
      display: none;
}
.main_text ul li:hover >ul
{
      display: block;
}
.main_text>ul>li span i i
{
      color: black;
}
.main0
{
      margin: 80px;
      padding: 50px;
}
.column1 a
{
      background-color: #ffc700;
      font-size: 25px;
      color: black;
      list-style: none;
      padding: 10px;
      text-transform: capitalize;
      margin-bottom: 50px;
      border-radius: 5px;
      font-weight: 600;
      text-decoration: none;
      
}

.main0 .column1 
{
margin-bottom: 100px;
list-style: none;
}
.content1 h2
{
text-transform: capitalize;
font-size: 30px;
text-align: center;
margin-bottom: 30px;
color: #628b8b;
}
button
{
      background-color: #ffc700;
      font-size: 15px;
      padding: 0.5rem;
      border-radius: 10px;
      margin-top: 5px;
      color: white;
}
.students
{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 50%;
      margin: auto;
      margin-top: 10px;
      text-align: center;
      padding: 0 10px;
      border: 2px solid gray;
      background-color: #ebebeb;
      color: #2f2f2f;
      border-radius: 15px;
}
.students div {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    
    .students div * {
      margin: 5px;
    }

.content-column
 {
       
   border: 2px solid grey;   
   padding: 2rem; 
   width:600px;
 }   
 .input-group
{
      margin-bottom: 10px;
      position: relative;
}
input, textarea
{
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 1px solid #2f2f2f;
      font-size: 18px;
}

label
{
      height: 100%;
      position: absolute;
      top: 10px;

}
input:focus~label
{
      top: -15px;
}